/Prediccion/*.csv
/Prediccion/**/*.csv
/Prediccion/Dataset1/Winsoring/kt_dir/
/prediccion_produccion/.venv
/prediccion_produccion/models/prophet_best_5558.pkl
/prediccion_produccion/data/dataset_produccion.csvp
/prediccion_produccion/models